<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>Form</title>
        <meta name="description" content="Tristan's Project 3">
        <link href="../css/overrides.css" type="text/css" rel="stylesheet">
    </head>
    <body>
      <div class="grid-x">
        <div class="cell small-2 backdrop">6 cells</div>
        <div class="cell small-8" id="background">
          <h1 id="underlineme">Sign Up</h1><br><br>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>First Name</h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input type="text" placeholder="Enter First Name">
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Last Name</h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input type="text" placeholder="Enter Last Name">
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Date Of Birth</h3>
              </div>
              <div class="medium-2 cell">
                <label>
                  <select>
                    <option value="date">Date</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="gotbored">Obviously I understand this... I'm not doing 30</option>
                  </select>
                </label>
              </div>
              <div class="medium-2 cell">
                <label>
                  <select>
                    <option value="date">Month</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="gotbored">Obviously I understand this... I'm not doing all 12</option>
                  </select>
                </label>
              </div>
              <div class="medium-2 cell">
                <label>
                  <select>
                    <option value="date">Year</option>
                    <option value="1">2000</option>
                    <option value="2">2001</option>
                    <option value="3">2002</option>
                    <option value="4">2003</option>
                    <option value="gotbored">There HAS to be a quicker way of doing this.</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Gender</h3>
              </div>
              <fieldset class="medium-6 cell">
                <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Male</label>
                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Female</label>
                <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Other</label>
              </fieldset>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Country</h3>
              </div>
              <div class="medium-2 cell">
                <label>
                  <select>
                    <option value="date">Country</option>
                    <option value="1">USA</option>
                    <option value="2">France</option>
                    <option value="3">Africa</option>
                    <option value="4">Banana Land</option>
                    <option value="gotbored">Obviously I understand this... I'm not doing 300</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>E-mail</h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input type="text" placeholder="Email">
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Phone Number</h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input type="text" placeholder="Enter Phone">
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Password</h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input type="text" placeholder="Spac3isc001">
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3>Confirm Password</h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input type="text" placeholder="Spac3isc001">
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-4 cell allignmenthelp">
                <h3></h3>
              </div>
              <div class="medium-6 cell">
                <label>
                  <input id="checkbox1" type="checkbox"><h4 class="inline">I Agree To The Terms Of Use</h4>
                </label>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-8 cell">
              </div>
              <div class="medium-4 cell">
                <label>
                  <button type="button" class="success button">Submit</button>
                  <button type="button" class="alert button">Cancel</button>
                </label>
              </div>
            </div>
          </div>
          <div  id="centerme"><a href="index.html">link back!</a></div>
        </div>
        <div class="cell small-2 backdrop">6 cells</div>
    </body>
</html>
